# Jobs that run on pull_request, but not on merge_group. This is useful for jobs that post comments on Pull Requests, like ESLint annotations.

on:
  pull_request:

permissions:
  contents: write
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  automerge-dependabot:
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@v6

      - name: Enable auto-merge for Dependabot PR
        run: gh pr merge --rebase --auto "${{ github.event.pull_request.number }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  eslint-fix:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: jdx/mise-action@v3

      - name: Configure Git
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "github-actions@github.com"

      - name: Run ESLint Fix
        run: |
          npm ci
          npm run lint

          if [[ -n $(git status --porcelain) ]]; then
            FIX_BRANCH="fix-${{ github.event.pull_request.number }}-eslint"
            git switch --create $FIX_BRANCH

            git add --all
            git commit --message "Auto-fix: Apply ESLint fixes"
            git push --force origin $FIX_BRANCH

            echo "ESLint fixes have been pushed to the $FIX_BRANCH branch."
            exit 1
          else
            echo "No changes needed by ESLint"
          fi

  biome-format-fix:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: jdx/mise-action@v3

      - name: Configure Git
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "github-actions@github.com"

      - name: Run Biome Format
        run: |
          npx @biomejs/biome format --write

          if [[ -n $(git status --porcelain) ]]; then
            FIX_BRANCH="fix-${{ github.event.pull_request.number }}-biome-format"
            git switch --create $FIX_BRANCH

            git add --all
            git commit --message "Auto-fix: Apply Biome formatting"
            git push --force origin $FIX_BRANCH

            echo "Biome formatting fixes have been pushed to the $FIX_BRANCH branch."
            exit 1
          else
            echo "No changes needed by Biome"
          fi

  prettier-fix:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: jdx/mise-action@v3

      - name: Configure Git
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "github-actions@github.com"

      - name: Run Prettier Fix
        run: |
          npm ci
          npx prettier --write "src/**/*.{js,ts,css,md,json}"

          if [[ -n $(git status --porcelain) ]]; then
            FIX_BRANCH="fix-${{ github.event.pull_request.number }}-prettier"
            git switch --create $FIX_BRANCH

            git add --all
            git commit --message "Auto-fix: Apply Prettier formatting"
            git push --force origin $FIX_BRANCH

            echo "Prettier fixes have been pushed to the $FIX_BRANCH branch."
            exit 1
          else
            echo "No changes needed by Prettier"
          fi
